/complete
/covid_friday
/covid_full_week
/covid_monday
/covid_saturday
/covid_sunday
/covid_thursday
/covid_tuesday
/covid_wednesday
/non_covid_friday
/non_covid_full_week
/non_covid_monday
/non_covid_saturday
/non_covid_sunday
/non_covid_thursday
